a {
  color: #333;
  text-decoration: none; }
  a:hover {
    opacity: .7; }

body {
  font-family: puhui, -apple-system, system-ui, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
  min-height: 100vh;
  position: relative; }
  body::after {
    content: '';
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url("../images/index4.jpg");
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0; }

.cardBlur {
  border-radius: 10px;
  background: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2); }
  @supports (backdrop-filter: blur(5px)) {
    .cardBlur {
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      background-color: rgba(255, 255, 255, 0.88) !important; } }

.tags {
  padding: 5px 0; }
  .tags small {
    display: inline-block;
    color: #333;
    font-size: 12px;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 5px 8px;
    margin-right: 10px;
    line-height: 1em;
    margin-bottom: 5px; }

.textRight {
  text-align: right; }

.cateTab {
  text-align: right;
  margin-bottom: 40px;
  background: #e1e1e1;
  display: inline-block;
  border-radius: 8px;
  padding: 1px; }
  .cateTab a {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 8px;
    margin: 2px;
    color: #5e5e5e; }
    .cateTab a.active {
      background: white;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      color: black; }

.shortBox {
  padding: 0 0; }
  .shortBox .banner {
    display: none; }
  .shortBox .list {
    margin-bottom: 40px;
    cursor: pointer;
    border-left: 8px solid rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s; }
    .shortBox .list:hover {
      border-color: #2785ff; }
      .shortBox .list:hover .content {
        font-weight: bold;
        line-height: 1.9em; }
    .shortBox .list .date {
      font-size: 10px;
      opacity: 0.3; }
    .shortBox .list .content {
      display: block;
      margin-bottom: 10px;
      font-size: 18px;
      transition: all 0.3s;
      -webkit-transition: all 0.3s; }
    .shortBox .list .info .link,
    .shortBox .list .info span {
      font-size: 12px;
      border-radius: 100px;
      border: 1px solid;
      padding: 0px 10px;
      display: inline-block;
      margin-right: 12px;
      line-height: 2em;
      color: #0f77f9;
      border-color: #0f77f9;
      background: rgba(15, 119, 249, 0.15);
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      margin-bottom: 5px; }
      .shortBox .list .info .link.link:hover,
      .shortBox .list .info span.link:hover {
        padding: 0 20px;
        opacity: 1; }
    .shortBox .list .info span:nth-child(1) {
      color: #b176ff;
      border-color: #b176ff;
      background: rgba(177, 118, 255, 0.15); }
    .shortBox .list .info span:nth-child(2) {
      color: #20c7a0;
      border-color: #20c7a0;
      background: rgba(32, 199, 160, 0.15); }
    .shortBox .list .info span:nth-child(3) {
      color: #cc3dc0;
      border-color: #cc3dc0;
      background: rgba(204, 61, 192, 0.15); }
  .shortBox .shortImages {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0; }
    .shortBox .shortImages img {
      width: 150px;
      height: 90px;
      margin: 10px;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.07);
      max-width: 100%;
      cursor: pointer; }
      .shortBox .shortImages img.active {
        width: auto;
        height: auto; }
      .shortBox .shortImages img.hide {
        display: none; }

@media screen and (max-width: 600px) {
  .shortBox .list:hover .content {
    font-size: 14px;
    font-weight: bold; }
  .shortBox .list .content {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s; }
  .shortBox .list .info span {
    font-size: 10px; }
  .shortBox .shortImages img {
    width: 42%;
    height: 50px;
    margin: 5px;
    border-radius: 4px; }
    .shortBox .shortImages img.active {
      margin: 0 0; } }
